@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 95%;
    --foreground: 0 0% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;

    --radius: 0.5rem;

    --shot-width-mini: 240px;
    --shot-width-small: 216px;
    --shot-width-medium: 280px;
    --shot-width-large: 340px;
  }

  .dark {
    --background: 0 0% 0%;
    --foreground: 0 0% 98%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  .second-font {
    font-family: var(--second-font);
  }
  * {
    font-family: var(--root-font);
  }
  h1 {
    @apply text-2xl font-semibold md:text-4xl text-accent-foreground
  }
  ::-webkit-scrollbar {
    width: .5rem;
    height: .5rem;
    cursor: pointer;
  }
  ::-webkit-scrollbar-track {
    @apply bg-transparent;
  }
  ::-webkit-scrollbar-thumb {
    width: .5rem;
    height: .5rem;
    border-radius: 9999px;
    @apply bg-secondary;
  }
  ::selection {
    @apply bg-primary text-primary-foreground
  }
  .session-user-row {
    width: calc(188px - 36px);
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
}

.dashboard_grid {
  grid-template-columns: repeat(auto-fill,minmax(300px, 1fr));
}

.shots_mini_grid {
  grid-template-columns: repeat(auto-fill, minmax(var(--shot-width-mini), 1fr));
}

.shots_grid {
  grid-template-columns: repeat(auto-fill, minmax(var(--shot-width-small), 1fr));
}
@media (min-width: 768px) {
  .shots_grid {
    grid-template-columns: repeat(auto-fill,minmax(var(--shot-width-medium),1fr));
  }
}

@media (min-width: 1440px) {
  .shots_grid {
    grid-template-columns: repeat(auto-fill,minmax(var(--shot-width-medium),1fr));
  }
}

@media (min-width: 1600px) {
  .shots_grid {
    grid-template-columns: repeat(auto-fill,minmax(var(--shot-width-large),1fr));
  }

}

@layer base {
  h1 {
    @apply text-4xl font-bold text-accent-foreground
  }
  h2 {
    @apply text-3xl font-bold text-accent-foreground
  }
  h3 {
    @apply text-2xl font-bold text-accent-foreground
  }
  h4 {
    @apply text-xl font-bold text-accent-foreground
  }
  h5 {
    @apply text-lg font-bold text-accent-foreground
  }
  h6 {
    @apply text-base font-bold text-accent-foreground
  }
  ul {
    @apply m-2 ml-4 list-none list-inside
  }
  ol {
    @apply m-2 ml-4 list-decimal list-inside
  }
  li {
    @apply relative mb-2 text-accent-foreground
  }
  li::before {
    content: '–';
    @apply text-muted-foreground -left-3 absolute
  }
  strong {
    @apply font-bold text-inherit
  }
  blockquote {
    @apply p-2 my-2 rounded-lg h-fit bg-card
  }
  a[href]:after { content : "" }
  /* a {
    @apply underline text-accent-foreground
  } */
}

@layer components {
  .hero-banner {
    @apply bg-opacity-40 backdrop-blur
  }
  .side-wrapper {
    @apply sticky lg:flex hidden overflow-y-auto flex-col h-full gap-4 p-4 top-4 xl:w-96 lg:w-80 md:w-72 w-64 shrink-0
  }
  .only-desktop-warning {
    @apply flex flex-col items-center justify-center w-full min-h-screen gap-4 md:hidden
  }
  .constructor-wrapper {
    @apply relative z-0 flex-col hidden w-full min-h-screen h-fit md:flex shrink-0 bg-card
  }
  .nav-tabs {
    @apply lg:flex hidden
  }
  .nav-select {
    @apply lg:hidden flex
  }
  .draft-card {
    @apply w-full h-fit border bg-card rounded-lg p-4 flex items-start gap-4 md:flex-row flex-col
  }
  .author-banner {
    @apply w-full md:h-[60vh] shrink-0 h-fit
  }
  .author-banner-wrapper {
    @apply flex md:flex-row flex-col justify-between w-full h-full gap-6 px-6 py-12 mx-auto max-w-screen-2xl
  }
  .author-info-wrapper {
    @apply flex flex-col justify-center md:h-full h-fit gap-4 md:w-fit w-full
  }
  .pinned-work-wrapper {
    @apply flex items-center md:h-full h-fit md:w-fit w-full shrink-0
  }
  .pinned-work {
    @apply lg:h-full h-fit lg:w-fit w-full aspect-[4/3] min-h-[20rem] lg:max-w-none max-w-xl lg:mx-0 mx-auto rounded-lg bg-muted shrink-0 relative
  }
  .author-description {
    @apply xl:text-5xl text-4xl font-bold text-accent-foreground
  }
  .bio-wrapper {
    @apply w-full mx-auto max-w-screen-2xl h-fit flex md:flex-row flex-col gap-6
  }
  .about-wrapper {
    @apply md:w-2/3 w-full h-full flex flex-col
  }
  .links-wrapper {
    @apply md:w-1/3 w-full h-full flex flex-col gap-4
  }
  .view-block-wrapper {
    @apply w-full h-fit max-w-7xl mx-auto flex md:flex-row flex-col gap-6 md:py-14 py-6
  }
  .view-wrapper-paddings {
    @apply lg:pl-10 pl-6 pr-6
  }
  .view-side {
    @apply md:w-80 w-full shrink-0 flex flex-col gap-4
  }
  .view-side-empty {
    @apply w-80 shrink-0 md:flex hidden flex-col gap-4
  }
  .view-last-shots-wrapper {
    @apply grid md:grid-cols-4 grid-cols-2 md:grid-rows-1 grid-rows-2
  }

  .nav-wrapper {
    @apply relative z-40 flex flex-row items-center justify-between w-full gap-8 shrink-0 h-fit
  }

  .app-title-wrapper {
    @apply w-fit h-fit md:flex hidden flex-col
  }

  .settings-content-wrapper {
    @apply w-full h-fit flex md:flex-row flex-col gap-4
  }

  .md-layout > h1 {
    @apply pt-12 mb-6
  }
  .md-layout > h1:first-of-type {
    @apply pt-0
  }
  .md-layout > h2:first-of-type {
    @apply pt-0
  }
  .md-layout > h3:first-of-type {
    @apply pt-0
  }
  .md-layout > h4:first-of-type {
    @apply pt-0
  }
  .md-layout > h5:first-of-type {
    @apply pt-0
  }
  .md-layout > h6:first-of-type {
    @apply pt-0
  }
  .md-layout > h2 {
    @apply pt-10 mb-6
  }
  .md-layout > h3 {
    @apply pt-9 mb-6
  }
  .md-layout > h4 {
    @apply pt-8 mb-6
  }
  .md-layout > h5 {
    @apply pt-7 mb-6
  }
  .md-layout > h6 {
    @apply pt-6 mb-6
  }
  .md-layout > p {
    @apply my-4
  }
  .md-layout > span {
    @apply my-4
  }
}